@charset "UTF-8";

body {
	list-style: none;
}

.main-contents {
	margin: 0 auto;
	width: 80%;
	text-align: center;
}

.signup-info {
	margin: 20px;
	padding: 10px 0;
	width: 50%;
	display: inline-block;
}

.main-contents p {
	font-size: 15px;
	margin-top: 5px;
}

.update-btn {
	margin-top: 10px;
}

.return-btn {
	position:fixed;
	left:50px;
	top:20px;
	transition:1s;
	opacity:0.7;
}

.info {
	width: 25%;
	float: left;
	margin: 10px 0;
}

.info .card-body {
	margin: 0 auto;
	text-align: center;
}
.info .change-status {
	margin: 10px 0;
}

.detail-info {
	display: inline;
}

