@charset "UTF-8";

body {
	background-color: #C2EEFF;
	list-style: none;
}

.main-contents {
	margin: 0 auto;
	width: 80%;
	text-align: center;
}

.signup-info {
	margin: 20px;
	padding: 10px 0;
	width: 50%;
	display: inline-block;
}

.main-contents p {
	font-size: 15px;
	margin-top: 5px;
	color: red;
}

.update-btn {
	margin-top: 10px;
}

.varity-btn {
	position:fixed;
	left:10px;
	top:20px;
	transition:1s;
	opacity:0.7;
}

.varity-btn .new-btn {
	margin-top: 10px;
}

.info {
	width: 25%;
	float: left;
	margin: 10px 0;
}

.info .card-body {
	margin: 0 auto;
	text-align: center;
}
.info .change-status {
	margin: 10px 0;
}

.detail-info {
	display: inline;
}

input[type=text] {
width:200px;
height:50px;
}

.btn {
	margin-top: 10px;
}

.btn:hover {
	cursor: pointer;
}
