@charset "UTF-8";

body{
	background-color: #C2EEFF;
}

.btn{
	padding: 5px;
	float: right;
	margin-right: 10px;
	margin-left: 10px;
}

.error {
	color: red;
}

.btn:hover {
	cursor: pointer;
}

.content{
	font-size: 13px;
	overflow-x: auto;
	margin: 0 auto;
	text-align: center;
}

.cbtn{
	font-size: 1px
}

.cbtn:hover {
	cursor: pointer;
}

table{
	width: 100%;
	white-space: nowrap;
}

.text{
	min-width: 300px;
}

.comment{
	width: 10%;
}

