<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ログイン画面</title>
<link rel="stylesheet" type="text/css" href="./css/Login.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
	integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
	crossorigin="anonymous"></script>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">

<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
	integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
	crossorigin="anonymous"></script>

<script type="text/javascript">
	function check() {
		if (window.confirm('ログインしますか？')) { // 確認ダイアログを表示
			return true; // 「OK」時は送信を実行
		} else { // 「キャンセル」時の処理
			window.alert('キャンセルされました'); // 警告ダイアログを表示
			return false; // 送信を中止
		}
	}
</script>
</head>
<body>
	<div class="main-contents">

	<p th:each="errorMessages : ${errorMessagesLogin}" th;if="${errorMessages != null}" th:text="${errorMessages}"
	class="text-danger"></p>

	<form onSubmit="return check()" action="/login" method="post">
		<label>アカウント名</label><br /> <input name="account" id="account"
			placeholder="Account"th:value="${formModel}" /><br /> <label>パスワード</label><br /> <input
			name="password" type="password" id="password" placeholder="Password" />
		<span id="buttonEye" class="fa fa-eye" onclick="pushHideButton()"><br /></span>
		<button type="submit" class="btn btn-outline-primary" style="margin: 15px">ログイン</button><br />
		<button type="button" class="btn btn-outline-primary"><a href="./ngoforum">戻る</a></button>

	</form>
	</div>
</body>
</html>