<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>ユーザー一覧表示画面</title>

		<link rel="stylesheet" type="text/css" href="/css/EditUser.css">

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>

	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	    crossorigin="anonymous">

		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>

		<script src="./js/User.js"></script>
	</head>
	<body>
        <div class="center">
	        <div class="varity-btn">
	        	<form action="/ngoforum">
					<input class="return btn btn-outline-secondary" type="submit" value="戻る" />
				</form>
				<form th:action="@{/SignUp}" method="get">
					<button class="btn btn-outline-success new-btn" value="button">新規登録</button>
				</form>
				<form th:action="@{/Summary}" method="get">
					<button class="btn btn-outline-primary new-btn" value="button">サマリー</button>
				</form>
	        </div>

            <div class="main-contents">

                <ul class="list">
					<li th:each="errorMessages : ${errorMessages}" th:text="${errorMessages}"></li>
				</ul>

				<div th:each="user : ${users}"  class="info">
					<!-- Display account information -->
					<div class="col">
					    <div class="card-body border border-info height">
					    	<form th:action="@{/changeStatus/{id}(id=${user.id})}" th:object="${formModel}" th:method="put">
						    	<h5 class="font-weight-bold" th:text="${user.account}"></h5>
						    	<input type="hidden" id="account" name="account" th:value="${user.account}">
							    <div class="card-text">
							    	<input type="hidden" id="password" name="password" th:value="${user.password}">
									ユーザー名:<div class="detail-info" th:text="${user.name}" /><br />
									<input type="hidden" id="name" name="name" th:value="${user.name}">
								    <div th:if="${user.branch_id == 0}">
								    	<div>支社:本社</div>
								    	<input type="hidden" id="branch_id" name="branch_id" th:value="${user.branch_id}">
								    </div>
								    <div th:if="${user.branch_id == 1}">
								    	<div>支社:A社</div>
								    	<input type="hidden" id="branch_id" name="branch_id" th:value="${user.branch_id}">
								    </div>
								    <div th:if="${user.branch_id == 2}">
								    	<div>支社:B社</div>
								    	<input type="hidden" id="branch_id" name="branch_id" th:value="${user.branch_id}">
								    </div>
								    <div th:if="${user.branch_id == 3}">
								    	<div>支社:C社</div>
								    	<input type="hidden" id="branch_id" name="branch_id" th:value="${user.branch_id}">
								    </div>
								    <div th:if="${user.department_id == 0}">
								    	<div>部署:総務人事部</div>
								    	<input type="hidden" id="department_id" name="department_id" th:value="${user.department_id}">
								    </div>
								    <div th:if="${user.department_id == 1}">
								    	<div>部署:情報管理部</div>
								    	<input type="hidden" id="department_id" name="department_id" th:value="${user.department_id}">
								    </div>
								    <div th:if="${user.department_id == 2}">
								    	<div>部署:営業部</div>
								    	<input type="hidden" id="department_id" name="department_id" th:value="${user.department_id}">
								    </div>
								    <div th:if="${user.department_id == 3}">
								    	<div>部署:技術部</div>
								    	<input type="hidden" id="department_id" name="department_id" th:value="${user.department_id}">
								    </div>
								    <div th:if="${user.is_stopped == 0}">
								    	<div class="text-warning">アカウント状態:稼働中</div>
								    	<input type="hidden" id="is_stopped" name="is_stopped" th:value="${user.is_stopped}">
								    </div>
								    <div th:if="${user.is_stopped == 1}">
								    	<div class="text-danger">アカウント状態:停止中</div>
								    	<input type="hidden" id="is_stopped" name="is_stopped" th:value="${user.is_stopped}">
								    </div>
								    作成日:
								    <div class="detail-info" th:text="${#dates.format(user.created_date,'yyyy/MM/dd')}" /><br />
								    最終ログイン:
								    <div class="detail-info" th:text="${#dates.format(user.login_date,'yyyy/MM/dd')}" /><br />
							    </div>
							    <!-- Changeing status of is_stopped -->
							    <div th:each="loginUser : ${loginUser}">
							    	<div th:if="${loginUser.id != user.id}">
										 <div class="change-status">
											<div th:if="${user.is_stopped == 0}">
												<button value="0" onclick="return stopButton()" class="btn btn-outline-danger btn-sm" name="is_stopped">アカウント停止</button>
											</div>
											<div th:if="${user.is_stopped == 1}">
												<button value="1" onclick="return workButton()" class="btn btn-outline-warning btn-sm" name="is_stopped">アカウント復活</button>
											</div>
										</div>
									</div>
								</div>
								<!-- /Changeing status of is_stopped -->
							</form>
						    <form th:action="@{/EditUser/{id}(id=${user.id})}" method="get">
								<button value="button" class="btn btn-outline-info btn-sm edit-html">アカウント編集</button>
							</form>
						</div>
					</div>
					<!-- /Display account information -->
				</div>
            </div>
		</div>
	</body>
</html>
