<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>新規投稿画面</title>
<link rel="stylesheet" type="text/css" href="/css/NewMessage.css">
<script language="javascript" type="text/javascript">
	function check() {
		if (window.confirm('投稿を送信してよろしいですか？')) { // 確認ダイアログを表示
			return true; // 「OK」時は送信を実行
		} else { // 「キャンセル」時の処理
			return false; // 送信を中止
		}
	}
</script>
</head>
<body>
<div class="main-contents">
	<p th:each="errorMessages : ${errorMessages}" th:text="${errorMessages}"></p>
	<form onSubmit="return check()" method="post" th:action="@{/NewMessage/{id}(id=${formModel.user_id})}"
		th:object="${formModel}">
		<label for="title">件名</label><br />
		<input name="title" id="title" th:value="${formModel.title}"/><br />
		<label for="text">投稿内容</label><br />
		<body onload="load()">
		<textarea name="text" th:text="${formModel.text}" id="text" size="20" maxlength="1100"/></textarea><br />
		<label for="category">カテゴリー</label><br />
		<input name="category" id="category" th:value="${formModel.category}"/><br />
		<input class="add btn" type="submit" value="投稿" />
	</form>
	<form action="/ngoforum">
		<input class="return btn" type="submit" value="戻る" />
	</form>
</div>
</body>
</html>