<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>新規登録画面</title>
		<link rel="stylesheet" type="text/css" href="/css/EditUser.css">
		<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>

	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	    crossorigin="anonymous">

		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>

		<script src="./js/User.js"></script>
	</head>
	<body>
        <div class="main-contents">

			<ul class="list">
				<li th:each="errorMessages : ${errorMessages}" th:text="${errorMessages}"></li>
			</ul>
            <!-- Display error maeesages -->

			<form onSubmit="return check()" method="post" action="/SignUp"
				th:object="${formModel}" class="border border-info signup-info">

				<label for="account">アカウント名</label><br />
				<input name="account" id="account" placeholder="Account" th:value="${formModel.account}"/><br />

				<label for="name">パスワード</label><br />
				<input name="password" type="password" id="password" placeholder="Password" />
				<span id="buttonEye" class="fa fa-eye" onclick="pushHideButton()"></span><br />

				<label for="name">パスワード確認用</label><br />
				<input name="passwordCheck" type="password" id="passwordCheck" placeholder="Password Again" />
				<span id="buttonEyeAgain" class="fa fa-eye" onclick="pushHideButtonAgain()"></span><br />

				<label for="name">ユーザー名</label><br />
				<input name="name" id="name" placeholder="Name" th:value="${formModel.name}" /><br />

				<label for="branch_id">支社</label><br />
				<select name="branch_id" id="branch_id" size="1" placeholder="Branch Id">
					<div th:if="${formModel.branch_id} == null">
						<option value="0">本社</option>
						<option value="1">A支社</option>
						<option value="2">B支社</option>
						<option value="3">C支社</option>
					</div>
					<div th:if="${formModel.branch_id} == 0">
						<option value="0">本社</option>
						<option value="1">A支社</option>
						<option value="2">B支社</option>
						<option value="3">C支社</option>
					</div>
					<div th:if="${formModel.branch_id} == 1">
						<option value="1">A支社</option>
						<option value="0">本社</option>
						<option value="2">B支社</option>
						<option value="3">C支社</option>
					</div>
					<div th:if="${formModel.branch_id} == 2">
						<option value="2">B支社</option>
						<option value="0">本社</option>
						<option value="1">A支社</option>
						<option value="3">C支社</option>
					</div>
					<div th:if="${formModel.branch_id} == 3">
						<option value="3">C支社</option>
						<option value="0">本社</option>
						<option value="1">A支社</option>
						<option value="2">B支社</option>
					</div>
				</select><br />

				<label for="department_id">部署</label><br />
				<select name="department_id" id="department_id" size="1" placeholder="Department Id">
					<div th:if="${formModel.department_id} == null">
						<option value="0">総務人事部</option>
						<option value="1">情報管理部</option>
						<option value="2">営業部</option>
						<option value="3">技術部</option>
					</div>
					<div th:if="${formModel.department_id} == 0">
						<option value="0">総務人事部</option>
						<option value="1">情報管理部</option>
						<option value="2">営業部</option>
						<option value="3">技術部</option>
					</div>
					<div th:if="${formModel.department_id} == 1">
						<option value="1">情報管理部</option>
						<option value="0">総務人事部</option>
						<option value="2">営業部</option>
						<option value="3">技術部</option>
					</div>
					<div th:if="${formModel.department_id} == 2">
						<option value="2">営業部</option>
						<option value="0">総務人事部</option>
						<option value="1">情報管理部</option>
						<option value="3">技術部</option>
					</div>
					<div th:if="${formModel.department_id} == 3">
						<option value="3">技術部</option>
						<option value="0">総務人事部</option>
						<option value="1">情報管理部</option>
						<option value="2">営業部</option>
					</div>
				</select><br />

				<input class="add update-btn btn btn-outline-info" type="submit" value="登録"/>

			</form>

			<form action="/ManageUser">
				<input class="return btn btn-outline-secondary" type="submit" value="戻る" />
			</form>
		</div>

	</body>
</html>
