<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>サマリー画面</title>

		<link rel="stylesheet" type="text/css" href="/css/EditUser.css">

	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	    crossorigin="anonymous">

	</head>
	<body>
        <div class="center">
        	<div class="varity-btn">
        		<form action="/ManageUser">
					<input class="return btn btn-outline-secondary" type="submit" value="戻る" />
				</form>
			</div>

			<div class="main-contents">
                <ul class="list">
					<li th:each="errorMessages : ${errorMessages}" th:text="${errorMessages}"></li>
				</ul>

				<div th:each="branch : ${branches}"  class="info">
					<!-- ユーザ一覧 -->
					<div class="col">
					    <div class="card-body border border-info height">
						    	<h5 class="font-weight-bold" th:text="${branch.name}"></h5>
						    	<input type="hidden" id="account" name="account" th:value="${branch.name}">
							    <div class="card-text">
									投稿数:<div class="detail-info" th:text="${branch.branchMessageCount}"></div><br />
									コメント数:<div class="detail-info" th:text="${branch.branchCommentCount}"></div>
							</div>
						</div>
					</div>
				</div>

				<div th:each="user : ${users}"  class="info">
					<!-- ユーザ一覧 -->
					<div class="col">
					    <div class="card-body border border-info height">
						    	<h5 class="font-weight-bold" th:text="${user.account}"></h5>
						    	<input type="hidden" id="account" name="account" th:value="${user.account}">
							    <div class="card-text">
							    	<input type="hidden" id="password" name="password" th:value="${user.password}">
									ユーザー名:<div class="detail-info" th:text="${user.name}"></div><br />
									<input type="hidden" id="name" name="name" th:value="${user.name}">
								    <div th:if="${user.branch_id == 0}">
								    	<div>支社:本社</div>
								    	<input type="hidden" id="branch_id" name="branch_id" th:value="${user.branch_id}">
								    </div>
								    <div th:if="${user.branch_id == 1}">
								    	<div>支社:A社</div>
								    	<input type="hidden" id="branch_id" name="branch_id" th:value="${user.branch_id}">
								    </div>
								    <div th:if="${user.branch_id == 2}">
								    	<div>支社:B社</div>
								    	<input type="hidden" id="branch_id" name="branch_id" th:value="${user.branch_id}">
								    </div>
								    <div th:if="${user.branch_id == 3}">
								    	<div>支社:C社</div>
								    	<input type="hidden" id="branch_id" name="branch_id" th:value="${user.branch_id}">
								    </div>
								    <div th:if="${user.department_id == 0}">
								    	<div>部署:総務人事部</div>
								    	<input type="hidden" id="department_id" name="department_id" th:value="${user.department_id}">
								    </div>
								    <div th:if="${user.department_id == 1}">
								    	<div>部署:情報管理部</div>
								    	<input type="hidden" id="department_id" name="department_id" th:value="${user.department_id}">
								    </div>
								    <div th:if="${user.department_id == 2}">
								    	<div>部署:営業部</div>
								    	<input type="hidden" id="department_id" name="department_id" th:value="${user.department_id}">
								    </div>
								    <div th:if="${user.department_id == 3}">
								    	<div>部署:技術部</div>
								    	<input type="hidden" id="department_id" name="department_id" th:value="${user.department_id}">
								    </div>
									投稿数:<div class="detail-info" th:text="${user.messageCount}"></div><br />
									コメント数:<div class="detail-info" th:text="${user.commentCount}"></div>
							</div>
						</div>
					</div>
				</div>
            </div>
		</div>
	</body>
</html>
