<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>TOP</title>
		<link rel="stylesheet" type="text/css" href="./css/Top.css">
		<script type="text/javascript">
			function check() {
				if (window.confirm('投稿を削除してよろしいですか？')) { // 確認ダイアログを表示
					return true; // 「OK」時は送信を実行
				} else { // 「キャンセル」時の処理
					return false; // 削除を中止
				}
			}
		</script>
	</head>
	<body>

		<div class="main-contents">
			<div class="header">
				<!-- ログイン状態によって表示を変える -->
				<div th:if="${#lists.isEmpty(loginUser)}">
					<form th:action="@{/Login}" method="get">
						<button class="btn" value="button">ログイン</button>
					</form>
				</div>
				<div th:if="!${#lists.isEmpty(loginUser)}">
					<div th:each="user : ${loginUser}">
						<form th:action="@{/Logout}" method="get">
							<button class="btn" value="button">ログアウト</button>
						</form>
						<div th:if="${user.branch_id == 0}">
							<div th:if="${user.department_id == 0}">
								<form th:action="@{/ManageUser}" method="get">
									<button class="btn" value="button">ユーザー管理</button>
								</form>
							</div>
						</div>
						<form th:action="@{/NewMessage/{id}(id=${user.id})}" method="get">
							<button class="btn" value="button">新規投稿</button>
						</form>
					</div>
				</div>
			</div>

			<div class="serch" style="display: flex;">
				<form th:action="@{/Search}" method="post">
					日付
					<input type="date" name="start" th:value="${start}" id="start">
					～
					<input type="date" name="end" th:value="${end}" id="end">
					<input type="text" name="category" th:value="${category}" size="20"
						maxlength="200" /> <input type="submit" value="検索" class="btn">
				</form>
				<form th:action="@{/ngoforum}" method="get">
					<input type="hidden" name="remove" value="remove" id="remove">
					<input type="submit" value="絞り込み解除" class="btn">
				</form>
			</div>
			<hr>

			<li th:each="errorMessages : ${errorMessages}"
				th;if="${errorMessages != null}" th:text="${errorMessages}" class="error"></li>
		</div>


		<div class="content">
			<table border="1">
				<tr>
					<th>既読・未読</th>
					<th>削除</th>
					<th>件名</th>
					<th>本文</th>
					<th>カテゴリー</th>
					<th>投稿日時</th>
					<th>投稿者(ユーザー)</th>
					<th class="comment">コメント</th>
					<th colspan="10">コメント一覧</th>
				</tr>

				<div th:each="content : ${contents}">
					<tr>
						<div th:if="${#lists.isEmpty(loginUser)}">
							<td></td>
						</div>
						<div th:each="loginUser : ${loginUser}">
							<div th:if="${content.already_read != 1}">
								<td>
									<form th:action="@{/AlreadyRead}"th:object="${formModel}" th:method="post">
										<input type="hidden" name="message_id" th:value="${content.id}" />
										<input type="hidden" name="user_id" th:value="${loginUser.id}" />
										<input class="cbtn" type="submit" value="未読" />
									</form>
								</td>
							</div>
							<div th:unless="${content.already_read != 1}">
								<td>既読</td>
							</div>
							<div th:if="${content.user_id == loginUser.id  || (loginUser.department_id == 1 && loginUser.id != content.user_id)}">
								<td>
									<form onSubmit="return check()" method="get"
										th:action="@{/delete/{id}(id=${content.id})}">
										<input class="cbtn" type="submit" value="削除" />
									</form>
								</td>
							</div>
							<div th:if="${content.user_id != loginUser.id}">
								<div th:if="${loginUser.branch_id == 1 && loginUser.department_id == 2}">
									<div th:if="${content.branch_id == 1 && content.department_id == 3}">

										<td>
											<form onSubmit="return check()" method="get"
											th:action="@{/delete/{id}(id=${content.id})}">
											<input class="cbtn" type="submit" value="削除" />
											</form>
										</td>
									</div>
								</div>
							</div>
							<div th:if="${content.user_id != loginUser.id}">
								<div th:if="${loginUser.branch_id == 2 && loginUser.department_id == 2}">
									<div th:if="${content.branch_id == 2 && content.department_id == 3}">

										<td>
											<form onSubmit="return check()" method="get"
											th:action="@{/delete/{id}(id=${content.id})}">
											<input class="cbtn" type="submit" value="削除" />
											</form>
										</td>
									</div>
								</div>
							</div>
							<div th:if="${content.user_id != loginUser.id}">
								<div th:if="${loginUser.branch_id == 3 && loginUser.department_id == 2}">
									<div th:if="${content.branch_id == 3 && content.department_id == 3}">

										<td>
											<form onSubmit="return check()" method="get"
											th:action="@{/delete/{id}(id=${content.id})}">
											<input class="cbtn" type="submit" value="削除" />
											</form>
										</td>
									</div>
								</div>
							</div>
							<div th:if="${content.user_id != loginUser.id}">
								<div th:if="${loginUser.department_id != 1}">
									<div th:if="${!((loginUser.branch_id == 1 && loginUser.department_id == 2 && content.branch_id == 1 && content.department_id == 3)
									|| (loginUser.branch_id == 2 && loginUser.department_id == 2 && content.branch_id == 2 && content.department_id == 3)
									|| (loginUser.branch_id == 3 && loginUser.department_id == 2 && content.branch_id == 3 && content.department_id == 3))}">
										<td></td>
									</div>
								</div>
							</div>
						</div>
						<td><a th:text="${content.title}"></a></td>
						<td class="text"><pre><a th:text="${content.text}"></a></pre></td>
						<td><a th:text="${content.category}"></a></td>
						<td><a th:text="${content.defference_date}"></a></td>
						<div th:each="user : ${user}">
							<div th:if="${content.user_id == user.id}">
								<td><a th:text="${user.name}"></a></td>
							</div>
						</div>
						<td>
							<div th:each="loginUser : ${loginUser}">
								<form th:action="@{/addComment}" th:object="${formModel}"
									th:method="post">
									<textarea name="text" size="20" maxlength="600" /></textarea>
									<input type="hidden" name="message_id" th:value="${content.id}" />
									<input type="hidden" name="user_id" th:value="${loginUser.id}" />
									<input class="cbtn" type="submit" value="返信" />
								</form>
							</div>
						</td>

						<div th:each="comment : ${comments}">
							<div th:if="${content.id} == ${comment.message_id}">
								<td>
									<pre><a th:text="${comment.text}"></a></pre>
								</td>
								<div th:each="loginUser : ${loginUser}">
									<div th:if="${comment.user_id == loginUser.id}">
										<td>
											<form onSubmit="return check()" method="get"
												th:action="@{/deleteComment/{id}(id=${comment.id})}">
												<input class="cbtn" type="submit" value="削除" />
											</form>
										</td>
									</div>
									<div th:if="${comment.user_id != loginUser.id}">
										<td></td>
									</div>
								</div>
							</div>
						</div>
					</tr>
				</div>
			</table>
			<div th:fragment='paginationbar'>
            <ul>
                <li th:class="${page.first} ? 'disabled':''" style="display:inline">
                    <span th:if="${page.first}">←先頭</span>
                    <a th:if="${not page.first}" th:href="@{${url}(page=0)}">←先頭</a>
                </li>
                <li th:each='i : ${#numbers.sequence(0, page.totalPages-1)}' th:class="(${i}==${page.number})? 'active' : ''" style="display:inline">
                    <span th:if='${i}==${page.number}' th:text='${i+1}'>1</span>
                    <a th:if='${i}!=${page.number}' th:href="@{${url}(page=${i})}">
                    	<div th:unless="${i} == -1" style="display:inline">
                    		<span th:text='${i+1}'>1</span>
                    	</div>
                    </a>
                </li>
                <li th:class="${page.last} ? 'disabled':''" style="display:inline">
                    <span th:if="${page.last}">末尾➝</span>
                    <a th:if="${not page.last}" th:href="@{${url}(page=(${page.totalPages}-1))}">末尾➝</a>
                </li>
            </ul>
        	</div>
		</div>
	</body>
</html>